.hobby-desc {
    margin-top: 50px;
    padding: 15px;
    background-color: transparent;
    width: 60%; /*calc(70% - 265px); */
    border: 1px dashed #53728E;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #53728E;
    position: relative;
}