.hobby-desc {
    padding: 15px;
    background-color: transparent;
    width: calc(100% - 70px); 
    border: 1px dashed #53728E;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #53728E;
    position: relative;
    margin-top: 10px;
    margin-left: 15px;
}



.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
    gap: 0px;
}

.gallery-column {
	display: flex;
	flex-direction: column;
	width: 33.333%;
    column-gap: 0px;
	
}

.gallery-image-container {
    margin: 2px;
    overflow: hidden;
}


.gallery-image {
    display: block;
	width: 100%;
	transition: .3s;
}

.gallery-image:hover {
    transform: scale(1.1);
    /* filter: grayscale(1); */
    filter: hue-rotate(180deg); 
}
