
.about-me-desc {
    margin-top: 50px;
    padding: 15px;
    background-color: transparent;
    width: 60%; /*calc(70% - 265px); */
    border: 1px dashed #53728E;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #53728E;

}

.profile-pic {
    width: 40%;
    aspect-ratio: auto;
    height: auto;
    position: relative;
}

#about-me-page {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 30px;

}

.row {
    display: flex;
    flex-direction: row;
    gap: 5%;

}

.profile-container {
    padding: 0px;
    background-color: red;
    
    width: 40%;
}

.plat-container {
    display: flex;
	flex-direction: row;
	width: 60% !important;
    position: absolute;
    margin-left: 100px;
}

.plat-icon-container {
    padding: 0px;
    margin: 2px;
    background-color: red;
    
}

.plat-icon {
    display: block;
	transition: .3s;
    cursor: pointer;
    width: 50px;
    margin: 0px;
}


.home-div {
    width: 500px;
    background-color: red;
}