.close-bar-container {
    background-color: #53728E;
    top: 0%;
    width: 100%;
    height: 30px;
}

.navbar-logo {
    color: #fff;
    text-decoration-line: none;
    padding: 10px;
}

.icon-span {
    float: right;
    padding-right: 10px;
    color: white;

}

.square {
    height: 10px;
    width: 10px;
    float: right;
    border-style: solid;
    border-width: 2px;
}

.close-icons {
    width: auto;
    height: 50px;
    float: right;
    margin-top: -10px;
    margin-right: 15px;
}