/* .gallery {
    padding-top: 50px;
    padding-left: 50px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    background-color: red;
    position: relative;
    height: 100%;
}

.gallery-item-1 {
    width: 50%;
}

.gallery-item-2 {
    width: 50%;
}

.gallery-item-3 {
    width: 50%;
}


.img-link {
    position: absolute;
} */