/* .gallery {
    padding-top: 50px;
    padding-left: 50px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    background-color: red;
    position: relative;
    height: 100%;
}

.gallery-item-1 {
    width: 50%;
}

.gallery-item-2 {
    width: 50%;
}

.gallery-item-3 {
    width: 50%;
}


.img-link {
    position: absolute;
} */

.gallery {
	padding: 0px;
    margin-top: 30px;
	transition: .3s;
    display: flex;
    margin-left: -2px;
    margin-right: -2px;
}

.gallery-column {
	display: flex;
	flex-direction: column;
	width: 60% !important;
	
}

.gallery > div {
    margin: -2px;
}

.gallery-column > a {
    margin-bottom: -2px;
}


.gallery-image-container {
    overflow: hidden;
    margin: 2px;
    position: relative;
}



.gallery-image  {
    display: block;
	width: 100%;
	transition: .3s;
    filter: none !important;
}

.gallery-image-container:hover > img {
    transform: scale(1.1);
}

.gallery-image-container:hover > div {
    z-index: 999;

    animation-name: slide-up;
    animation-duration: .5s;
    transition:  .3s ease-out;
}


.image {

    justify-content: center;
    z-index: 99999;
    position: absolute;
    /* margin-top: 70px; */
    /* margin-left: 2px; */
    width: 100%;
    height: 40%;
    top: 60%;
    /* opacity: 0; */
    z-index: -999;
    transition: .3s ease-in-out;
    /* //transition: background-color 300ms ease-out 100ms; */
 }
  
  @keyframes slide-up {
    0%   {top:100%;}
    100% {top:60%;}
  }


.gallery-caption {
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7); /* overlay color */
    height: 100%;
    max-width: 100%;
    /* width: 99%; */
    padding: 15px;
    /* opacity: 0; */

    color: white;
    padding: 15px;    
    align-items: center;

}

.gallery-caption > h3 {
    color: #8EB8DE;
    font-weight: bold;
    font-size: 25px;
}

.gallery-caption > p {
    margin: 0px;
}

.footer {

}
