/* .gallery-container  {
    margin-top: 20px;
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    gap: 1%;
    padding: 0px;
}



.gallery-item-1 {
    width: 50%;
    position: relative;

}
.gallery-item-2 {

}
.gallery-item-3 {
}

.img-link {
    width: 50%;
    height: auto;
    background-color: red;
} */


.gallery-container {
    display: flex;
	padding: 2px;
	transition: .3s;
    position: absolute;
}

.gallery-column {
    display: flex;
		flex-direction: column;
		width: 25%;
}

.img-link {
    margin: 2px;
	overflow: hidden;
    
}