.home-title {
    font-size: 120px;
    color: --var(dark);
    margin-left: 50px;
    margin-top: 150px;
    font-family: "Verdana", sans-serif;
}


.home-desc {
    margin-left: 60px;
    margin-top: 20px;
    padding: 15px;
    background-color: transparent;
    width: 80%;
    border: 1px dashed #53728E;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #53728E;

}