.home-title {
    font-size: 120px;
    color: --var(dark);
    margin-left: 50px;
    margin-top: 150px;
    font-family: "Verdana", sans-serif;
}



/* 
.navbar-container {
    background-color: #383838;
    position: fixed;
    float: right;
    width: 225px;
    height: 500px;
    right: 0%;
    padding: 0px;
} */

#welcome-title {
  /* background-image: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto; */
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s linear infinite; */
  display: inline-block;
  font-size: 100px;
  margin-bottom: -10px;
  margin-top: 200px;
  margin-left: 50px;
  position: absolute;
  animation: fadeInAnimation ease-out 1s;
}



.path {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: dash 10s linear forwards infinite;
}

@keyframes dash {
  to {
      stroke-dashoffset: 0;
  }
}




.interview-pic-container {
  position: absolute;
  left: 60%;
  animation: fadeInAnimation ease-out 1s;
  overflow: hidden;
  /* width: 90vw;
  min-width: 90vw; */
  height: 80vh;
  min-width: 450px;
  /* max-width: 500px; */
  margin-top: -20px;
  transition: .3s;

}

/* @media only screen and (max-width: ) */

.interview-pic-wrapper {
  position: relative;
  /* width: 50%; */
  margin-top: 15%;
}
.interview-pic-wrapper > img {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  bottom: 0%;
  transition: .3s;
  
  /* backdrop-filter: blur(5px); */
}

.interview-pic {
}

.interview-pic:hover  {
  transform: scale(1.1);
}

.home {
  display: flex !important;
  flex-direction: column !important;
  position: relative;

}



#home-page {
  
  color: #fff;
  /* background-color: #383838; */
  width: 90vw;
  min-width: 90vw;
  height: 80vh;
  margin-top: -20px;
  /* transform: skew(10deg); */
  clip-path: polygon(0 0, 58% 0, 82% 100%, 0% 100%);
  display:flex;
  position: absolute;

  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-text-fill-color: transparent;
  animation: slideInLeft ease 2s, gradient 10s ease infinite;
  display: inline-block;
  position: absolute;

}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.block {
  position: relative;
}


.top {
  position: relative;
  height: 80vh;
  margin-top: -20px;
}

.bottom {
  position: relative;
  height: 50%;
}


.short-desc {
  margin-left: 50px;
  margin-top: 360px;
  padding: 15px;
  background-color: transparent;
  width: 50%;
  border: 2px dashed #8EB8DE;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-decoration-line: underline;
  text-decoration-color: #8EB8DE;
  text-decoration-thickness: 2px;
  color: #fff;
  position: absolute;


}

.long-desc {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 15px;
  background-color: transparent;
  width: calc(100% - 130px); 
  border: 2px dashed #8EB8DE;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-decoration-line: underline;
  text-decoration-color: #8EB8DE;
  text-decoration-thickness: 2px;
  color: #53728E;
  /* position: absolute; */


}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.home-desc:hover {
  border: 3px dashed #8EB8DE;
  font-size: 16px;
}