.side-static-bar {
    width: 25px;
    height: auto;
    float: left;
    top: 80px;
    position: fixed;
}


.left-div {
    width: 25px;
    height: 100%;
    float: left;
    top: 733px;
    position: fixed;
    background-color: #484848;
}