
.cards-container{
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    position: absolute;
}

.card-container{
    border-bottom: 1px dashed #484848;
    display: flex;
}

div.card-container:hover {
    border: 1px solid #53728E;
}


.icon {
    padding-right: 30px;
    padding-top: 20px;
}

.desc {
}

.empire-life-logo {
    width: 100px;
    height: auto;
    clip-path: circle(50px at center);
}

.bofa-logo {
    width: 100px;
    height: auto;
    clip-path: circle(70px at center);
}

.darwynn-logo {
    width: 100px;
    height: auto;
    clip-path: circle(50px at center);
}

.absolute-logo {
    width: 100px;
    height: auto;
    clip-path: circle(50px at center);
}

h2 {
    color: #8EB8DE;
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 2px;
}

h3 {
    color: #53728E;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 5px;
}

.date {
    display: grid;
    position: absolute;
    grid-template-columns: auto auto auto auto;
    right: 50px;
    margin-top: -20px;
}

ul {
    list-style-type: circle;
    color: #808080;
    margin-left: 20px;
}

b {
    color: #8EB8DE;
}