.footer-container {
    background-color: #383838;
    padding: 15px;
    display: flex;
    justify-content: center;
    bottom: -100px;
    position: absolute;
    width: calc(100% - 265px);
    z-index: -100;
}

.copyright {
    color: #fff;
    align-self: center;
}
