.footer-container {
    /* background-color: #383838;
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: -100;
    bottom: 0%; */

    text-align: center;
    padding: 15px;
    background-color: #383838;
    color: white;

    width: calc(100% + 70px);
    margin-left: -50px;
    margin-top: 30px;
    bottom: 0;
    order: 2;
}

.copyright {
    color: #fff;
    align-self: center;
}
