.footer-container {
    background-color: #383838;
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0px;
    position: fixed;
}

.copyright {
    color: #fff;
    align-self: center;
}